/bargar.jpg
/cactus.jpg.png
/calculate.css
/calculate.html
/calculate.js
/chips.jpg
/David.jpg
/dinosaur.jpg.png
/dosa.jpg
/game.css
/game.html
/game.js
/gulabi.jpg
/KFC.jpg
/login.css
/login.html
/login.js
/manchurian.jpg
/noodls.jpg
/paasta.jpg
/password.css
/password.html
/password.js
/pay.jpg
/payment.css
/payment.html
/payment.jpg
/payment.js
/pizza.jpg
/register.css
/register.html
/register.js
/Rohit.jpg
/Sandwich.jpg
/Stobary.jpg
/text.css
/text.html
/text.js
/textAnalyez.css
/textAnalyez.html
/textAnalyez.js
/todolist.css
/todolist.html
/todolist.js
/vegdish.jpg
/Weather.css
/Weather.html
/Weather.js